.list-item {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px solid #b6c3ca;
  border-radius: 6px;
  margin: 5px;
}
.delete-image {
  width: 20px;
  height: 20px;
}
.delete-button {
  background-color: transparent;
  border: none;
}
.website-logo {
  color: #ffffff;
  font-family: roboto;
  font-size: 25px;
  background-color: #10b981;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding-left: 14px;
  padding-top: 3px;
}
.details-container {
  color: #ffffff;
  font-family: roboto;
}
.stars-image {
  width: 120px;
  height: 15px;
}
